---
import Layout from "../layouts/Layout.astro";
import Github from "../components/icons/githubIcon.astro";
import Mail from "../components/icons/mailIcon.astro";
import Linkedin from "../components/icons/linkedinIcon.astro";
import "../styles/global.css";

const socials = [
  {
    icon: Github,
    href: "https://github.com/Lawcito",
    name: "GitHub",
  },
  {
    icon: Linkedin,
    href: "https://www.linkedin.com/in/emir-negrete/",
    name: "Linkedin",
  },
  {
    icon: Mail,
    href: "mailto:emiraleconegrete@gmail.com",
    name: "eMail",
  },
];
---

<Layout>
  <div
    class="flex flex-col-reverse items-center mt-20 w-full h-full gap-2 text-[#F7F7F5] lg:items-start lg:justify-center lg:w-3/4 lg:h-3/4 lg:ml-20 lg:mt-0 lg:relative"
  >
    <section
      class="flex flex-col justify-center w-3/4 h-3/4 rounded-xl bg-[#4E148C] p-2 gap-4 lg:w-2/3 lg:h-full"
    >
      <h1 class="text-2xl text-[#8EB5F0]">Lawcito</h1>
      <p class="text-md">
        Hola, soy <span class="text-[#8EB5F0]">Emir</span>, más conocido por mi
        gametag <span class="text-[#8EB5F0]">Lawcito</span>. Tengo 23 años,
        estudio en la <span class="text-[#8EB5F0]">UTN La Plata</span> y me encuentro
        continuamente desarrollando mis habilidades como <span
          class="text-[#8EB5F0]">programador</span
        > y <span class="text-[#8EB5F0]">desarrollador web</span>, ya sea en
        cursos o de forma autodidacta.
      </p>
    </section>
    <section class="flex flex-row w-3/4 h-12 gap-2 lg:w-2/3 lg:h-24">
      <div class="w-full h-full rounded-xl bg-[#4E148C]">
        <ul
          class="flex flex-row gap-4 justify-center items-center h-full w-full"
        >
          {
            socials.map((social) => {
              return (
                <li>
                  <a href={social.href} target="_blank">
                    <social.icon />
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
      <div class="w-full h-full rounded-xl bg-[#613DC1] hidden lg:block"></div>
    </section>
    <section class="flex flex-row w-3/4 h-12 gap-2 lg:w-2/3 lg:h-24">
      <div
        class="flex items-center justify-center w-1/2 h-full rounded-xl bg-[#613DC1]"
      >
        <a href="/portfoliov0/tecnologies" class="lg:hidden">Tecnologías</a>
      </div>
      <div
        class="lg:flex items-center justify-center w-1/2 h-full rounded-xl bg-[#4E148C] hidden"
      >
        <a href="/portfoliov0/tecnologies" class="hidden">Tecnologías</a>
      </div>
    </section>
    <section class="flex flex-row w-3/4 h-12 gap-2 lg:w-2/3 lg:h-24">
      <div
        class="flex items-center justify-center w-1/2 h-full rounded-xl bg-[#4E148C]"
      >
        <a href="/portfoliov0/projects">Pryoectos</a>
      </div>
      <div
        class="w-full lg:w-1/2 h-full rounded-xl bg-[#613DC1] hidden lg:block"
      >
      </div>
    </section>
    <section
      class="block absolute place-self-end top-45 right-22 lg:top-0 lg:right-0"
    >
      <img
        src="./imgs/lawPerfil.jpg"
        alt="Imagen de Trafalgar D Water Law utilizada como foto de perfil en github por Lawcito"
        class="w-16 lg:w-64 h-full rounded-s-xl lg:rounded-l-full"
      />
    </section>
  </div>
</Layout>
