---
import SwiperComponent from "../components/SwiperComponent.jsx";
import Layout from "../layouts/Layout.astro";
const images = [
  {
    img: "/imgs/SapuCraft.webp",
    description: `En este proyecto realizado para un servidor de minecraft con amigos aprendí a integrar FireBase a un proyecto y utilizarlo`,
  },
  {
    img: "/imgs/tattooWeb.webp",
    description:
      "Página web de tatuajes en la que me encargué de crear el Carrusel de links, footer y el Slider de Imagenes",
  },
  {
    img: "/imgs/pokemonTrucho.webp",
    description:
      "Juego simple de pokemon creado en el curso de Programador del CFL404",
  },
];
---

<Layout>
  <div
    class="flex flex-col items-center w-full h-full mt-20 gap-4 text-[#F7F7F5]"
  >
    <section
      class="flex flex-col items-center justify-center w-3/4 h-16 rounded-xl bg-[#00A9A5]"
    >
      <h2>Proyectos</h2>
    </section>
    <span class="h-3/4 w-full">
      <SwiperComponent client:load arrayObjet={images} />
    </span>
  </div>
</Layout>
