---
import SwiperComponent from "../components/SwiperComponent.jsx";
import Layout from "../layouts/Layout.astro";

const svgs = [
  { svg: "/imgs/astro_dark.svg", description: "Proyecto con Astro" },
  { svg: "/imgs/react_dark.svg", description: "Proyecto con React" },
  { svg: "/imgs/html5.svg", description: "Proyecto con HTML5" },
  { svg: "/imgs/javascript.svg", description: "Proyecto con JavaScript" },
  { svg: "/imgs/nodejs.svg", description: "Proyecto con Node.js" },
  { svg: "/imgs/python.svg", description: "Proyecto con Python" },
  { svg: "/imgs/tailwindcss.svg", description: "Proyecto con TailwindCSS" },
  { svg: "/imgs/css.svg", description: "Proyecto con CSS" },
  { svg: "/imgs/firebase.svg", description: "Proyecto con Firebase" },
  { svg: "/imgs/git.svg", description: "Proyecto con Git" },
];
---

<Layout>
  <div
    class="flex flex-col items-center w-full h-full mt-20 gap-4 text-[#F7F7F5]"
  >
    <section
      class="flex flex-col items-center justify-center w-3/4 h-16 rounded-xl bg-[#00A9A5]"
    >
      <h2>Tecnologías</h2>
    </section>
    <section class="flex flex-col items-center justify-center w-3/4 h-16">
      <SwiperComponent client:load arrayObjet={svgs} />
    </section>
    <section
      class="flex flex-col items-center justify-center w-3/4 h-16 rounded-xl bg-[#00A9A5]"
    >
      <h3>Habilidades blandas</h3>
    </section>
    <section
      class="flex flex-col items-center justify-center text-center p-2 w-3/4 h-1/2 rounded-xl bg-[#00A9A5]"
    >
      <p>
        Soy alguien con buena comunicación, buen trabajo en equipo. Aprendo
        rápido, no tengo problemas en enseñar y en escuchar consejos. <br>
        Tengo responsabilidad y compromiso.
      </p>
    </section>
  </div>
</Layout>
