---
import houseIcon from "../components/icons/houseIcon.astro";
import abilitiesIcon from "../components/icons/abilitiesIcon.astro";
import projectsIcon from "../components/icons/projectsIcon.astro";
import "../styles/global.css";

const base = "/portfoliov0";

const links = [
  {
    Svg: houseIcon,
    href: base,
  },
  {
    Svg: abilitiesIcon,
    href: `${base}/tecnologies`,
  },
  {
    Svg: projectsIcon,
    href: `${base}/projects`,
  },
];
---

<nav
  class="flex items-center justify-center h-16 w-3/4 bg-[#858AE3] rounded-2xl mt-8 text-[#2C0735] lg:w-16 lg:h-1/2 lg:mr-5"
>
  <ul class="flex flex-row gap-10 lg:flex-col">
    {
      links.map(({ Svg, href }) => {
        return (
          <li>
            <a href={href}>
              <Svg />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
